<#include "components/head.html"/>
<body class="zhi  no-auth">
    <div class="index-main">
        <div class="index-main-body">
            <div class="index-header">
                <h1 class="logo hide-text"><img src="../images/res/nk.png" alt=""></h1>
                <h2 class="subtitle">与世界分享你的知识、经验和见解</h2>
                <h3 class="subtitle">${msg!}</h3>
            </div>
            <div class="desk-front sign-flow clearfix sign-flow-simple">
                <div class="view view-signin" data-za-module="SignInForm" style="display: block;">
                    <form method="post" action="/login" >
                        <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
                        <div class="group-inputs">
                            <div class="email input-wrapper">
                                <input type="text" name="name" aria-label="用户名" placeholder="用户名" required="">
                            </div>
                            <div class="input-wrapper">
                                <input type="password" name="password" aria-label="密码" placeholder="密码" required="">
                            </div>
                        </div>
                        <div class="button-wrapper command clearfix">

                            <button class="sign-button submit" type="submit">登录</button>
                            <a href="/register.html" class="sign-button submit" type="submit">去注册</a>
                        </div>
                        <div class="signin-misc-wrapper clearfix">
                            <label class="remember-me">
                                <input type="checkbox" name="remember_me" checked="" value="true"> 记住我
                            </label>
                            <a class="unable-login" href="#">无法登录?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/vendor.ff76fbae.js"></script>
    <script src="../scripts/base.fb262f0e.js"></script>
    <script src="../scripts/common.fed5411f.js"></script>
    <script src="../scripts/page-index.d7b54ac7.js"></script>
</body>
<#include "components/footer.html"/>
